body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
  background-color: #ffffff;
}

.btn-primary {
  background-color: #4bacb8;
  color: #ffffff;
  border-color: #484848;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.rating span {
  color: #484848;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  justify-content: center;
}
.product img {
  width: 100%;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.BrowserRouter {
  background-color: #f16e10;
}
.small-container {
  max-width: 600px;
}
#cardOrder {
  background-color: #4bacb8;
  color: '#000000';
}
#card2 {
  margin-top: 10px;
}
#card3 {
  margin-top: 10px;
  background-color: #4bacb8;
  color: '#000000';
}
